
.gradient_background {
  background: rgb(208,208,233);
  background: radial-gradient(circle, rgb(183, 183, 215) 0%, rgb(208, 205, 227) 100%);
}
.btn_bg_gt{
  background: rgb(44,102,163);
  background: linear-gradient(90deg, rgba(44,102,163,1) 18%, rgba(118,13,166,1) 78%);
}

.btn_bg_gt {
margin: 10px;
padding: 10px 30px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
border-radius: 10px;
display: block;
border: 0px;
font-weight: 700;
box-shadow: 0px 0px 14px -7px #f09819;
background-image: linear-gradient(45deg, #1b90be 0%,  51%, #96057c  100%);
cursor: pointer;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.btn_bg_gt:hover {
background-position: right center;
/* change the direction of the change here */
color: #fff;
text-decoration: none;
}

.btn_bg_gt:active {
transform: scale(0.95);
}
.text_gt{
  background: linear-gradient(90deg, rgb(33, 83, 136) 18%, rgba(118,13,166,1) 78%);
  -webkit-background-clip: text;
  color: transparent;  
}

.bg_gt{
  margin: 10px;
padding: 10px 30px;
text-align: center;
transition: 0.5s;
background-size: 200% auto;
color: white;
border: #1b90be;
border-radius: 8px;

display: block;
font-weight: 700;
box-shadow: 0px 0px 0px -7px #3b045c;
background-image: linear-gradient(45deg, #1b90be 0%,  51%, #96057c  100%);
cursor: pointer;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}
.bg_gt:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #ffffff;
  text-decoration: none;
}
.bg_gt:active {
  transform: scale(0.95);
}

.subrayado_none {
text-decoration: none;
}
.bg_aviso {
  background: rgb(40,83,143);
  background: linear-gradient(61deg, rgba(40,83,143,1) 0%, rgba(113,13,124,1) 68%);
  }
