.gradient_background {
  background: rgb(208, 208, 233);
  background: radial-gradient(circle, rgb(105, 105, 130) 0%, rgb(208, 205, 227) 100%);
}

.gradient_background_dark {
  background: rgb(39, 87, 110);
  background: radial-gradient(circle, rgba(39, 87, 110, 1) 0%, rgba(27, 26, 26, 1) 63%);
}
.gradient_background_dark_menu {
  background: rgb(39, 87, 110);
  background: radial-gradient(circle,rgb(3, 18, 22) 0%,  rgb(16, 31, 39) 63%);
}

.btn_bg_gt {
  background: rgb(44, 102, 163);
  background: linear-gradient(90deg, rgba(44, 102, 163, 1) 18%, rgba(118, 13, 166, 1) 78%);
}

.btn_bg_gt {
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #1b90be 0%, 51%, #96057c 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn_bg_gt:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn_bg_gt:active {
  transform: scale(0.95);
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.text_gt {  
  font-size: clamp(1rem, 1vw,1rem);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  background: linear-gradient(to right,
      #cbfa0d 20%,
      #04f7ff 30%,
      #4aff77 70%,
      #fd57ea 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 8s ease-in-out infinite alternate;
}

.bg_gt {
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: #1b90be;
  border-radius: 8px;

  display: block;
  font-weight: 700;
  box-shadow: 0px 0px 0px -7px #3b045c;
  background-image: linear-gradient(45deg, #1b90be 0%, 51%, #96057c 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bg_gt:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #ffffff;
  text-decoration: none;
}

.bg_gt:active {
  transform: scale(0.95);
}

.subrayado_none {
  text-decoration: none;
}

.bg_aviso {
  background: rgb(40, 83, 143);
  background: linear-gradient(61deg, rgba(40, 83, 143, 1) 0%, rgba(113, 13, 124, 1) 68%);
}

.bg_card_resumidor {
  background: rgb(40, 83, 143);
  background: linear-gradient(61deg, rgb(134, 134, 193) 0%, rgb(112, 181, 255) 68%);
}


@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.gradient_background_text {
  font-size: clamp(3rem, 1vw, 3rem);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  background: linear-gradient(to right,
      #cbfa0d 20%,
      #04f7ff 30%,
      #4aff77 70%,
      #fd57ea 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 8s ease-in-out infinite alternate;
}

.text_description_matri {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: solid;

}

.text_description_matriz {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: solid;
  color: #a9c2c3;
}
/* MultiInput.css */

.selected-values {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 8px;
}

.selected-value {
  background-color: #007BFF;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.selected-value button {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 4px;
  cursor: pointer;
}

.selected-value button:hover {
  text-decoration: underline;
}
.bg_card{
  background: rgb(39, 87, 110);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 95%);
}

/* Estilos para el modo claro */
.light-mode {
  /* Define tus estilos para el modo claro aquí */
  background-color: white;
  color: black;
}

.light-mode.gradient_background {
  background: rgb(208, 208, 233);
  background: radial-gradient(circle, rgb(183, 183, 215) 0%, rgb(208, 205, 227) 100%);
}

/* Estilos para el modo oscuro */
.dark-mode {
  /* Define tus estilos para el modo oscuro aquí */
  background-color: #333;
  color: white;
}

/* Estilos para el botón flotante */
.floating_button {
  position: fixed;
  bottom: 20px; /* Distancia desde la parte inferior */
  right: 20px; /* Distancia desde la parte derecha */
  padding: 20px;
  height: 70px;
  width:70px;
  margin: 4px 2px;
  background-color: #83a710; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999; /* Asegura que el botón esté sobre otros elementos */
  /* Agrega estilos adicionales según sea necesario */

  
}
.floating_button:hover {
  background-color: #65b9e6;
 }
 
.floating_button:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
 }


 .message-container {
  display: flex;
  justify-content: flex-start; /* Cambia a "flex-end" para los mensajes del bot */
  margin: 5px 10px;
  padding: 10px;
  background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
  border-radius: 10px;
  max-width: 70%; /* Ajusta según tus preferencias */
}

.bot .message-container {
  justify-content: flex-end; /* Para los mensajes del bot */
}